*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    position:fixed;
    background-color: brown;
    width: 100vw;
    height: 5vh;
    margin-top: -5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}




.tasto{
    padding: 8px 15px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blu{
    color: white;
    background-color: rgb(0, 102, 255);
}

.bianco{
    color: grey;
    background-color: aliceblue;
    border: 1px solid grey;
}

header .tasto-blu{
    margin: 0 10px;
}


.prima-fascia-blu{
    margin-top: 5vh;
    background-color: rgb(140, 172, 231);
    /* height: 30vh; */
}

h2{
    padding: 30px 0 20px;

    /* debug */
    background-color: rgb(255, 0, 238);
}

.prima-fascia-blu h2{
    font-size: 40px;
}

.larghezza-top-bottom{
    height: 100%;
    width: 70%;
    margin-left:15%;
    /* debug */
    /* background-color: rgb(0, 255, 51); */
}

.prima-fascia-blu .sc-scritte{
    width: 30%;

    /* debug */
    background-color: rgb(255, 51, 0);
}

p{
    margin: 0 20px 20px 0;
    font-size: 12px;
}


.prima-fascia-blu .tasto-blu{
    margin: 50px 0;
}


.fascia-colonne-riga{
    width: 100%;
    

    /* debug */
    /* height: 300px; */
    background-color: rgb(255, 162, 0);
}

.larghezza-main{
    height: 100%;
    width: 60vw;
    margin-left:20%;
    /* debug */
    /* background-color: rgb(0, 255, 51); */
}

.fatturazione{
    display: flex;
    align-items: center;
    font-size: 10px;
}

.cerchio{
    border-radius: 50%;
    border:  1px solid rgb(88, 88, 88);
    /* background: #000; */
    height: 10px;
    width: 10px;
    margin: 10px;
    display: inline-block;
}

.cliccato{
    background: rgb(56, 119, 237);
}

.spazio-colonne{
    display: flex;
    justify-content: space-between;
    
    
}

.colonna{
    border: 1px solid grey;
    width: 33%;
    max-width: 250px;
    
}

.tipo{
    border-bottom: 1px solid grey;
    text-align: center;
}


.colonna .sc-scritte{
    margin: 0 10px;

}

.colonna h4{
    margin-top: 30px;
}

.prezzo {
    margin-top: 8px;
    font-weight: 700s;
}

.tempo{
    color: grey;
    margin-top: 4px;
}

.dettagli{
    margin-top: 30px;
    /* margin-bottom: 35px; */
}

.dettaglio{
    display: flex;
    font-size: 12px;
    margin-top: 10px;
    /* margin-top: 2px; */


}

.dettaglio i{
    margin-right: 5px;
}


.colonna section{
    text-align: center;
    margin: 30px 0;

    /* debug */
    background-color: aquamarine;
}

.acquista-ora{
    display:flex;

    /* debug */
    /* background-color: rgb(185, 8, 35); */

}
.oppure{
    border-bottom: 1px solid grey;
    padding: 0 5px 20px;
}


.colonna h5{
    margin: 30px 0;
}

/* questa sarebbe la riga, che ha tutte le caratteristiche di una colonna, ma si distingue perchè non è nel div spazio-colonne */
.larghezza-main > .colonna{
    margin: 20px 0;
    width: 100%;
    max-width: none;
    /* questo max-width serve a sovrascrivere la max-width delle altre */
}

#contatta-ufficio-vendite{
    margin-top: 10px;
    font-weight: 600;
    font-size: 10px;
}

.riga{
    display: flex;
    justify-content: space-between;
    align-items: center;


    /* background: #000; */

}

.colonna p{
    width: 70%;
    color: grey;
}


.fascia-img-scritte{
    margin-bottom: 20px;
    

    /* DEBUG */
    background-color: aquamarine;
}


.fascia-img-scritte .larghezza-main{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#img{
    width: 70%;

    /* DEBUG */
    background-color: blueviolet;
}


.fascia-img-scritte .sc-scritte{

    padding: 20px;
    width:30%;
    background-color: cadetblue;
}




.fascia-img-scritte p{
    color: grey;
    margin-top: 15px;


}


.operazione{
    width:calc(100% / 3);
    max-width: 250px;

    /* DEBUG */
    background-color: darksalmon;
    border: 1px solid black;
    height: 100px;
}

.fascia-teams{
    margin-top:20px;
}

#teams{
    margin-top: 30px;
    display:flex;
    /* DEBUG */
    background-color: bisque;
}

.terzo{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    /* anche l'altezza la esprimo in vw così vengono quadrati*/
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
    /* DEBUG */
    background-color: rgb(223, 131, 20);
    border: 1px solid red;
}

.quarto{
    width: calc(97vw / 6);
    /* se mettessi 100 andrebbe a capo */
    height: calc(100vw / 6);
    
    /* DEBUG */
    background-color: rgb(20, 145, 223);
    border: 1px solid black;
}


#fascia-blu-2 .larghezza-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 80px 0;
}



#fascia-faq .larghezza-main{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 30px;
    padding: 5px 0;
}




.domanda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;

    /* DEBUG */
    /* background-color: azure; */

}


footer{

    margin-top: 20px;
    background: #000;
    
    

    width: 100%;

    /* DEBUG */
}

.colonna-footer{
    width: 15%;

    margin-top: 40px;
    padding-bottom: 30px;
    color: white;

    display: flex;
    flex-flow: column;
   
    

    /* DEBUG */
    /* background-color: blueviolet; */
    /* border: 1px solid white; */
    
}

.colonna-footer *{
    width: 100%;
    display: flex;
    
    
}


.colonna-footer h4{
    margin-bottom: 20px;
    height: 20px;

    /* DEBUG */
   
    /* border: 1px solid white; */
    
}



.colonna-footer div{
    height: 15px;

    margin-top: 15px;
    
}

.lingua{
    margin-top: 30px;
    padding: 20px 0;
    width: 100px;

    border-top: 1px solid grey;
    display:flex;
    align-items: center;
    color: grey;

    
    /* DEBUG */
   
    /* background-color: brown; */
    
}

.lingua i{
    margin: 5px;
    font-size: 12px;
}

