*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}



.tasto{
    padding: 10px 15px;
    min-width: 80px;


    font-size: 12px;
    font-weight: 550;


    display: flex;
    justify-content: center;
    align-items: center;

    /* DEBUG */
    /* background-color: aqua; */
}

.semplice:hover{
    border-bottom: 1px solid black;
}


.blu{
    
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: rgb(0, 102, 255);
}

.blu:hover{
    background-color: rgba(0, 102, 255, 0.8);

}

.bianco{
    color: grey;
    background-color: white;
    border: 1px solid grey;
}

.larghezza-top-bottom{
    height: 100%;
    width: 70%;
    margin-left:15%;
    /* debug */
    /* background-color: rgb(0, 255, 51); */
}

h2{
    padding: 30px 0 20px;
    font-size: 70px;
    /* margin-bottom: 50px; */

    
}



h3{
    padding: 30px 0 20px;
    font-size: 40px;

    
}






h4{
    font-size: 20px;
    font-weight: 700;

    
}
/* header */

header{
    position:fixed;
    z-index: 500;


    background-color: white;




    padding: 0 20px;
    width: 100vw;
    height: 50px;
    margin-top: -50px;



    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

#logo{
    width: 100px;

    /* DEBUG */
    /* background-color: aqua; */
}



p{
    font-size: 20px;

}



/* .prima-fascia-blu //////////////////////////////////////////////////////////////////////////////*/
.prima-fascia-blu{
    margin-top: 50px;
    background-color: rgb(140, 172, 231);
    
    /* height: 800px;
    width: 2000px; */
    
    box-sizing: border-box;
    border-bottom: 200px solid white;
}

.prima-fascia-blu h2{
    max-height: 200px;
    
}




.prima-fascia-blu .riga{
    /* margin-bottom: 50px; */
    
    position:relative;
    top: 90px;

    




    /* DEBUG */

    /* background-color: coral; */

}




.prima-fascia-blu .sc-scritte{
    
    font-size: 70px;

    width: 30%;
    min-width: 200px;
    height: 600px;
    padding: 0 10px;

    /* DEBUG */
    /* background-color: blueviolet; */

    /* background-color: chartreuse; */

}





.prima-fascia-blu .sc-scritte div{
    /* questo div serve essenzialmente a evitare che il tasto prenda tutta la riga */
    display: flex;
    margin: 50px 0;


}

/* 

.prima-fascia-blu .tasto{
    width: 30%;
    margin: 0 calc((100% - 30%) / 2) 20px;

} */


#jumbo{
    /* immagine della .p fascia b */
    height: 600px;
    width: auto;


}



/* .fascia-colonne-riga ///////////////////////////////////////////////////////////////////////////// */


.fascia-colonne-riga{
    width: 100%;
    

    /* debug */
    /* height: 300px; */
    /* background-color: rgb(255, 162, 0); */
}

.larghezza-main{
    height: 100%;
    width: 60vw;
    margin-left:20%;
    /* debug */
    /* background-color: rgb(0, 255, 51); */
}

.fatturazione{
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-top: 30px;
}

.cerchio{
    border-radius: 50%;
    border:  1px solid rgb(88, 88, 88);
    /* background: #000; */
    height: 10px;
    width: 10px;
    margin: 10px;
    display: inline-block;
}

.cliccato{
    border: 3px solid rgb(56, 119, 237);
    background: white;
}

.spazio-colonne{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    
    
}

.colonna{
    border: 1px solid grey;
    width: 33%;
    max-width: 250px;
    
}

.tipo{
    border-bottom: 1px solid grey;
    text-align: center;
}


.colonna .sc-scritte{
    margin: 0 10px;

}

.colonna h4{
    margin-top: 30px;
}

.prezzo {
    margin-top: 8px;
    font-weight: 700s;
}

.tempo{
    color: grey;
    margin-top: 4px;
}

.dettagli{
    margin-top: 30px;
    /* margin-bottom: 35px; */
}

.dettaglio{
    display: flex;
    font-size: 12px;
    margin-top: 10px;
    /* margin-top: 2px; */


}

.dettaglio i{
    margin-right: 5px;
}

/* questa section serve solo a centrare il tasto blu delle colonne */
.colonna section{
    display: flex;
    justify-content: center;
    margin: 30px 0;

    /* background-color: aquamarine; */
}

.colonna .tasto{
    width: 130px;
}




.acquista-ora{
    display:flex;

    /* debug */
    /* background-color: rgb(185, 8, 35); */

}
.oppure{
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}

.colonna a{
    margin-left: 10px;
    /* lo metto alla anchor e non all'oppure così che la linea sotto oppure stia solo sotto oppure */
}


.colonna h5{
    margin: 30px 0;
}

/* questa sarebbe la riga, che ha tutte le caratteristiche di una colonna, ma si distingue perchè non è nel div spazio-colonne */
.larghezza-main > .colonna{
    margin: 20px 0;
    width: 100%;
    max-width: none;
    /* questo max-width serve a sovrascrivere la max-width delle altre */
}
.larghezza-main > .colonna .tasto{
    padding: 10px;
}

#contatta-ufficio-vendite{
    margin-top: 10px;
    font-weight: 600;
    font-size: 10px;
}

.riga{
    display: flex;
    justify-content: space-between;
    align-items: center;


    /* background: #000; */

}

.colonna p{
    width: 70%;
    color: grey;
}


/* fascia-img-scritte //////////////////////////////////////////////////////////////////////////////////*/
.fascia-img-scritte{
    margin: 100px 0;
    

    /* DEBUG */
    /* background-color: aquamarine; */
}


.fascia-img-scritte .larghezza-main{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.fascia-img-scritte p{
    margin: 50px 0
}


#img{
    width: 60%;
    height: auto;

    /* DEBUG */
    /* background-color: blueviolet; */
}


.fascia-img-scritte .sc-scritte{

    padding: 20px;
    width:calc(100% - 60%);
    /* è scritto così con clac perché così posso 
    cambiare la sua dimensione e quello dell'#img
    contemporaneamente */

}




.fascia-img-scritte p{
    color: grey;
    margin-top: 15px;


}
/* fascia operazioni//////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#fascia-operazioni {
    margin: 100px 0;
}

#fascia-operazioni .riga{
    margin: 40px 0;
}


.operazione{
    width:calc(100% / 3);
    max-width: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    /* DEBUG */
    /* background-color: darksalmon; */
    /* border: 1px solid black; */
    /* height: 100px; */
}

.img-operazione{
    width: 80%;
    height: auto;
    margin: 0 calc((100% - 80%) / 2) 20px;
}

/* fascia teams///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#fascia-teams{
    margin-top:150px;
}

#teams{
    margin-top: 100px;
    display:flex;
    /* DEBUG */
    background-color: rgb(253, 247, 239);
}

.terzo{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    /* anche l'altezza la esprimo in vw così vengono quadrati*/
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
    /* DEBUG */
    /* background-color: rgb(223, 131, 20); */
    /* border: 1px solid red; */
}


.quarto{
    width: calc(97vw / 6);
    /* se mettessi 100 andrebbe a capo */
    height: calc(100vw / 6);

    padding: 10%;
    object-fit: contain;

    color: white;
    /* non me li mette bianchi */
    
    /* DEBUG */
    /* background-color: rgb(20, 223, 210); */
    /* border: 1px solid black; */
}



.q1{
    background: red;
}
.q2{
    background: rgb(0, 136, 255);
}
.q3{
    background: rgb(183, 255, 0);
}
.q4{
    background: rgb(255, 153, 0);
}
.q5{
    background: rgb(195, 0, 255);
}
.q6{
    background: rgb(255, 0, 115);
}
.q7{
    background: rgb(63, 143, 45);
}
.q8{
    background: rgb(191, 167, 12);
}

.terzo div{
    width: 90%;
}


#slide-show img{
    width: 40%;

    margin:  20px 0;
    padding: 40px 0;
    border-bottom: 1px solid grey;


    /* DEBUG */
    /* background-color: aqua; */
}



#slide-show p{
    margin: 30px 0;
}







/* fascia blu 2///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#fascia-blu-2{
    background-color: cornflowerblue;
    width: 100%;
    height: 500px;
}

#fascia-blu-2 .larghezza-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 30px; */
    padding: 80px 0;
}

#fascia-blu-2 h2{
    width: 60%;
    color: rgb(120, 9, 9);

}

#fascia-blu-2 .tasto{
    width: 20%;

}

/* fascia faq///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#fascia-faq .larghezza-main{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-top: 30px;
    padding: 5px 0;
}

#fascia-faq h2{
   margin: 50px 0;
}




.domanda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0;

    /* DEBUG */
    /* background-color: azure; */

}

/* footer ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
footer{

    margin-top: 20px;
    background: #000;
    
    

    width: 100%;

    /* DEBUG */
}

.colonna-footer{
    width: 15%;

    margin-top: 40px;
    padding-bottom: 30px;
    color: white;

    display: flex;
    flex-flow: column;
   
    

    /* DEBUG */
    /* background-color: blueviolet; */
    /* border: 1px solid white; */
    
}

.colonna-footer *{
    width: 100%;
    display: flex;
    
    
}


.colonna-footer h4{
    margin-bottom: 20px;
    height: 20px;

    /* DEBUG */
   
    /* border: 1px solid white; */
    
}



.colonna-footer div{
    height: 15px;

    margin-top: 15px;
    
}

.lingua{
    margin-top: 30px;
    padding: 20px 0;
    width: 100px;

    border-top: 1px solid grey;
    display:flex;
    align-items: center;
    color: grey;

    
    /* DEBUG */
   
    /* background-color: brown; */
    
}

.lingua i{
    margin: 5px;
    font-size: 12px;
}

